<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/work">Work</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>
    <h1>About</h1>
    <div class="about">
      <h3>
        Illchmann is no ordinary feline. He is a champion of social justice, a
        defender of diversity, and a beacon of hope for those who believe in a
        more inclusive world. With his playful spirit and loving nature,
        Illchmann has won the hearts of many and has become a symbol of
        compassion and kindness.
        <br />
        <br />
        Illchmann is more than just a pet - he is a powerful advocate for social
        change. He is passionate about promoting diversity, equity, and
        inclusion, and he uses his platform to raise awareness about important
        issues affecting our society. From advocating for animal rights to
        standing up against discrimination and oppression, Illchmann is always
        on the front lines, fighting for what he believes in.
        <br />
        <br />
        But Illchmann's impact extends far beyond his activism. He is also a
        loyal companion and a beloved member of his community. Whether he's
        cuddling up with his human family or exploring the great outdoors,
        Illchmann's playful and curious nature never fails to bring joy to those
        around him.
        <br />
        <br />So if you're looking for a furry friend who embodies the values of
        compassion, empathy, and social justice, look no further than Illchmann
        - the cat who is changing the world, one paw at a time.
      </h3>
    </div>
  </body>
</html>
