<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/public/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/views/home.html">Home</a>
      <a href="/views/about.html">About</a>
      <a href="/views/works.html">Work</a>
      <a href="/views/photo-gallery.html">Photo Gallery</a>
    </nav>
    <div class="home-title">
      <h1>
        Welcome to <br />
        Illchmann 🐱 homepage
      </h1>
    </div>
    <script src="/javascript/script.js"></script>
  </body>
</html>
