<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/work">Work</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>
    <h1>Works</h1>
    <div class="about">
      <h3>
        🐱 Illchmann unites black and white  
        🐱 Illchmann is against sexism  
        🐱 Illchmann is against war  
        🐱 Illchmann is against animal testing  
        🐱 Illchmann welcomes refugees  
        🐱 Illchmann is against gungs  
        🐱 Illchmann supports LGBTQIA  
        🐱 Illchmann supports trans rights  
        🐱 Illchmann doesn´t drink and drive  
        🐱 Illchmann wants accessibility for all  
        🐱 Illchmann is against stupidity  
        🐱 Illchmann is against body shaming  
        🐱 Illchmann is against racism  
        🐱 Illchmann is plastic pollution  
        🐱 Illchmann supports organ donation  
        🐱 Illchmann is against stigmatizing mental illness  
        🐱 Illchmann is against domestic violence and abuse  
        🐱
  
      </h3>
      <div class="images">
      <img src="/images/sticker_01.jpg" alt="sticker_01" />
      <img src="/images/sticker_02.jpg" alt="sticker_02" />
      <img src="/images/sticker_03.jpg" alt="sticker_03" />
      <img src="/images/sticker_04.jpg" alt="sticker_04" />
      <img src="/images/sticker_05.jpg" alt="sticker_05" />
      <img src="/images/sticker_06.jpg" alt="sticker_06" />
      <img src="/images/sticker_07.jpg" alt="sticker_07" />
      <img src="/images/sticker_08.jpg" alt="sticker_08" />
      <img src="/images/sticker_09.jpg" alt="sticker_09" />
      <img src="/images/sticker_10.jpg" alt="sticker_10" />
      <img src="/images/sticker_11.jpg" alt="sticker_11" />
      <img src="/images/sticker_12.jpg" alt="sticker_12" />
      <img src="/images/sticker_13.jpg" alt="sticker_13" />
      <img src="/images/sticker_14.jpg" alt="sticker_14" />
      <img src="/images/sticker_15.jpg" alt="sticker_15" />
      <img src="/images/sticker_16.jpg" alt="sticker_16" />
      <img src="/images/sticker_17.jpg" alt="sticker_17" />
    </div>
  </body>
</html>
